<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="LagVis | Solución digital"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LagVis_V1"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.compose.HomeMenuActivity"
            android:exported="false"
            android:label="@string/title_activity_home_menu"
            android:theme="@style/Theme.LagVis_V1" />
        <activity
            android:name=".ui.despidos.ActivityResultadoDespido"
            android:exported="false" />
        <activity
            android:name=".ui.despidos.ActivityDatosGeneralesDespido"
            android:exported="false" />
        <activity
            android:name=".ui.finiquitos.ActivityResultadoFiniquito"
            android:exported="false" />
        <activity
            android:name=".ui.finiquitos.ActivityDatosGeneralesFiniquito"
            android:exported="false" />
        <activity
            android:name=".ui.convenio.ConvenioVisualizer"
            android:exported="false" />
        <activity
            android:name=".ui.auth.AdvancedFormRegister"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RecoverPassword"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true" />
    </application>

</manifest>